.picture {
  display: flex;
  //justify-content: flex-end;
  background-color: transparent;
  height: 110%;
  max-width: 100vw;
}

.picture-banner {
  aspect-ratio: 2/1;
  opacity: 0.9;
  //filter: brightness(100%) grayscale(100%);
}


.picture-banner__title-wrapper {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  position: absolute;
  top: 25%;
  left: 50%;

}

.picture-banner__title {
  font-size: 90px;
  font-weight: 800;
  color: #ffffff;
  opacity: 1;
}

.btn {
  width: 300px;
  height: 100px;
  background-color: var(--orange);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  color: var(--text);
  font-size: 36px;
  font-weight: 500;
  padding-right: 55px;
  border: 1px solid var(--orange);
  &:hover {
    background-color: var(--orange-hover);
  }
  & > a {
    text-decoration: none;
  }
  & > a:hover {
    text-decoration: none;
  }
}



.btn-wrapper {
  padding-top: 24px;
  background-color: transparent;

}

